<header>
    <a class="smallLogo" href="/">Humphrey</a>
    <nav>
        <ul class="navLinks">
            <li><a href="#">Project</a></li>
            <li><a href="https://github.com/iamnotfelix/humphrey">Source code</a></li>
            <li><a href="/about">Juice WRLD</a></li>
        </ul>
    </nav>
</header>