<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <title>About JuiceWrld</title>
</head>
<body>
    <p class="text">Jarad Anthony Higgins (December 2, 1998 – December 8, 2019), known professionally as Juice Wrld (pronounced "juice world"; stylized as Juice WRLD), was an American rapper, singer, and songwriter from Chicago, Illinois. His song "Lucid Dreams" has been played on the music streaming platform Spotify over one billion times and peaked at number two on the Billboard Hot 100. "Lucid Dreams", along with his earlier hit single "All Girls Are the Same", helped him secure a recording contract with Lil Bibby's Grade A Productions and Interscope Records. He derived his stage name from late American rapper Tupac Shakur and his part in the film Juice and that it represents taking over the world.[1]</p>
</body>
</html>