<% layout('boilerplate') %>
<div class="juiceContainer">
    <img src="images/juiceWRLD1.jpg" alt="juice wlrd portrait" class="juiceImage">
    <article>
        <p class="text"> <span class="title">Juice WRLD</span>
            Juice WRLD was an American rapper, singer, and songwriter. He became a top hitmaker delivering introspective lyrics atop melodic production, 
            with echoes of Travis Scott and Post Malone. His heartsick 2018 debut “Goodbye & Good Riddance” (2018), home to his biggest hit "Lucid Dreams",  
            reflected a wide range of stylistic influences: R&B instrumentation, dreamy beats, and even indie rock melodicism. The momentum built by "Lucid 
            Dreams" helped land Juice's sophomore effort “A Death Race for Love” (2019) at the top of the charts. Months later, at the height of his 
            mainstream popularity, he tragically passed away after suffering a medical emergency at Chicago's Midway Airport; he had just turned 21.
            At the time of his death, Juice had three singles in the Hot 100 and both official LPs in the Top 100. Born Jarad Higgins in 1998, 
            the Calumet Park musician grew up playing piano, drums, and guitar, turning to rap freestyling in high school. Influenced by rock music 
            and Chicago drill from Lil Durk and Chief Keef, Higgins began recording as Juice TheKidd, a moniker derived from his haircut, which 
            resembled 2Pac's in the film Juice.
        </p>
    </article>
</div>

<div class="juiceContainer">
    <article>
        <p>
             
             His early tracks were all posted online, leading up to 2017's Juice WLRD 999 EP. Produced by Nick 
            Mira and Sidepce, the set included the singles "Lucid Dreams (Forget Me)" and "All Girls Are the Same." Both tracks would also land on 
            his official debut full-length, Goodbye & Good Riddance (Interscope), which peaked at number 15 on the Billboard 200 upon release in May 
            2018. In January 2019 Higgins issued the single "Robbery" ahead of the arrival of the full-length A Death Race for Love, which was released 
            later that March. Death Race shot to number one on the Billboard 200 and was soon certified gold. He followed with high-profile 
            collaborations with Ellie Goulding ("Hate Me"), Benny Blanco ("Graduation") and YoungBoy Never Broke Again ("Bandit"). In 2019, the 
            latter track joined "Lucid Dreams" as the rapper's second Top 10 hit. On December 8, 2019, Higgins suffered a medical emergency at 
            Chicago's Midway International Airport and died. He had just turned 21. At the time of his death, he had three singles in the Hot 100 
            and both official LPs in the Top 100 on the Billboard 200. During the next several months, his verses appeared on tracks with Halsey, 
            Marshmello, and Eminem. The posthumous album Legends Never Die followed in July of 2020 and topped the Billboard 200.
        </p>
    </article>
    <img src="images/juiceWRLD2.jpg" alt="juice wlrd portrait" class="juiceImage">
</div>
