<% layout('boilerplate') %> 
<div class="container">
    <div class="innerContainer">
        <div class="element">
            <p class="logo">Humphrey</p>
        </div>
        <div class="element">
            <p class="text">How close is your favorite artist to Juice WRLD?</p>
        </div>
        <form action="/search" method="POST" class="formContainer">
            <div class="formElement text">
                <label for="search">Search an artist</label>
            </div>
            <div class="inputElement">
                <input type="text" id="search" placeholder="Search an artist" name="search">
            </div>
            <div class="formElement">
                <button class="btn">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="resultContainer">
    <% if(result) {%>
        <p class="resultText"><span><%= result.artistName %></span> is <span><%= result.degree %></span> degrees away!</p>
        <% for(let track of result.links) {%>
            <div class="resultElement">
                <p class="resultText"><%= track.trackName %> </p>
                <iframe src="https://open.spotify.com/embed/track/<%= track.trackId %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        <%} %> 
    <% } %>  
</div>

<div class="footerContainer">
    <div class="footerElement">
        <a href="/about" class="btn">About</a>
    </div>
    <div class="footerElement">
        <a href="https://github.com/iamnotfelix/humphrey" class="btn">Source Code</a>
    </div>
</div>
