<% layout('boilerplate') %>

<div class="projectContainer">
    <p class="mainText">
        This website is based on the theory of 'Six Degrees of Separation' in which every pair of 
        people on the planet are on average just six connections away from one another. 
        <br>
        <br>
        <br>
        The database behind this website contains 90000+ artists.
    </p>
    <div class="line"></div>
    <p class="plug">
        Website made by <a href="https://www.instagram.com/iliescu.andrei33/">Iliescu Andrei <img src="images/instagram.png" alt="instagramLogo"></a>
    </p>
</div>