
body
{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5rem;
    /* background-color: rgb(191, 147, 231); */
}

.container
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element
{
    padding: 3rem;
    margin: auto;
}

.logo
{
    font-size: 5rem;
    font-weight: 700;
    color: #fcba03;
}

.text
{
    font-size: 1.2rem;
}

.formElement
{
    padding: 0.3rem;
    margin: auto;
}

.inputElement
{
    padding: 0.3rem;
    width: 100%;
}

#search
{
    height: 30px;
    width: 100%;
    /* margin-top: 1.5rem; */
    border: none;
    border-bottom: 2px solid #a7a7a7;
    border-top: 2px solid #a7a7a7;
    outline: 0;
    font-size: 1.2rem;
    /* color: #fcba03; */
    padding: 7px 0px;
    background: transparent;
    transition:  0.5s;
}

#search:hover
{
    border-bottom: 2px solid #fcba03;
    border-top: 2px solid #fcba03;
}

.btn
{
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    border: none;
    outline: 0;
    color: black;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background-color: #C8C8C8;
    font-size: 1.2rem;
    transition: background-color 0.5s;
}

.btn:hover
{
    background-color: #fcba03;
}

.resultContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.resultElement
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 2rem 2rem;
    border-top: 2px solid #fcba03;
    /* border-bottom: 2px solid #fcba03; */
}

.resultText
{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
}

span
{
    color: #fcba03;
    font-weight: bold;
}

iframe
{
    display: block;
    margin: auto;
}

.footerContainer
{
    display: flex;
    justify-content: center;
}

a
{
    display: inline-block;
    text-align: center;
    width: 9rem;
}

.footerElement
{
    padding: 0.5rem;
}