
/*body*/
body
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*containers*/
.all
{
    font-size: 1.4em;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowContainer
{
    display: flex;
    flex-direction: column;
}




/*rows*/
.row
{
    padding-top: 3rem;
    margin: auto;
}

.rowRow
{
    padding: 2rem 0;
    margin: auto;
}

.formRow
{
    padding: 1rem 0;
    margin: auto;
}




/*exceptions*/
div > .rowRow:nth-child(even)
{
    border-top: 2px solid #F9A03F;
}

.row:first-child
{
    padding: 0;
}



/*elements*/
span
{
    color: #F9A03F;
}
.logo
{
    color: #F9A03F;
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: 5rem;
}



/*search*/
#search
{
    height: 3rem;
    width: 600px;
    border: 0;
    border-top: 2px solid #ADD4EB;
    border-bottom: 2px solid #ADD4EB;
    outline: 0;
    font-size: 1.4rem;
    text-align: center;
    transition: 0.3s;
}

#search:hover
{
    cursor: text;
    border-top: 2px solid #F9A03F;
    border-bottom: 2px solid #F9A03F;
}

/*button*/
.btn
{
    border: none;
    width: 200px;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 50px;
    background-color: #ADD4EB;
    outline: 0;
    transition: 0.6s;
    /* color: #F9A03F;  */
}

.btn:hover
{
    cursor: pointer;
    background-color: #F9A03F;
    /* height: 4rem; */
    width: 230px;
}



/*header nav*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #2A262B;
}

.navLinks li{
    display: inline-block;
    padding: 0px 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

.smallLogo
{
    color: #F9A03F;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.navLinks li a
{
    color: #ADD4EB;
    text-decoration: none;
    transition: all 0.6s ease 0s;
}

.navLinks li a:hover
{
    color: #F9A03F;
}

/*footer nav*/

footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0%;
    background-color: #2A262B;
}

.footerLinks ul li
{
    display: inline-block;
}

.footerLinks ul li a
{   
    text-decoration: none;
    color: #637783;
    padding: 0 50px;
    font-size: 1.1rem;
}

p a
{
    text-decoration: none;
    color: #637783;
    font-size: 1.1rem;
}

/*powered by*/
.spotifyLogo
{
    padding-top: 10px;
    display: block;
    width: 80px;
    text-align: center;
    margin: auto;
    transition: all 0.6s;
}

.poweredBy
{
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    transition: all 0.6s ease 0s;
}

.poweredBy:hover
{
    color: #F9A03F;
}